<form name="form" novalidate>
<div class="col-md-6">
	<div class="panel panel-primary" ng-show="cadCtrl.exibirNovoParticipante">
		<div class="panel-heading">
		    <h3 class="panel-title">Novo Participante</h3>
	  	</div>
		<div class="panel-body">
			<ng-form name="novoPartcForm" role="form" >
				<div class="form-group" ng-class="{ 'has-error': novoPartcForm.nome.$invalid}">
					<label class="control-label" for="nome">Nome</label>
				    <input type="text" class="form-control" id="nome" placeholder="Nome"
				    	ng-model="cadCtrl.participante.nome" name="nome" ng-required="true">
				</div>
				<div class="form-group" ng-class="{ 'has-error': novoPartcForm.email.$invalid}">
					<label class="control-label" for="email">Email</label>
				    <input type="email" class="form-control" id="email" placeholder="Email"
				    	ng-model="cadCtrl.participante.email" name="email" >
				</div>
				<button type="submit" class="btn btn-primary"
					ng-click="cadCtrl.salvarNovoParticipante(novoPartcForm.$valid, cadCtrl.participante)">Salvar</button>
				<button class="btn btn-danger" ng-click="cadCtrl.cancelarNovoParticipante()"
					formnovalidate >Cancelar</button>
			<ng-form>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
		    <h3 class="panel-title">Pagantes</h3>
	  	</div>
		<div class="panel-body">

			<button class="btn btn-primary" ng-show="!cadCtrl.exibirNovoParticipante"
				ng-click="cadCtrl.prepararNovoParticipante()">Novo Participante</button>

			<table class="table">
				<thead>
					<th>Posição</th>
					<th>Nome</th>
					<th>Privisão Pagamento</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="participante in cadCtrl.participantes | orderBy:'posicao'">
						<td>{{participante.posicao}}</td>
						<td>{{participante.nome}}</td>
						<td>{{participante.previsaoPagamento | date:'dd/MM/yyyy'}}</td>
						<td><span class="glyphicon glyphicon-trash" style="cursor:pointer;" 
									ng-click="cadCtrl.inativarParticipante(participante)" ></span>

							<span class="glyphicon glyphicon-shopping-cart" style="cursor:pointer;" 
									ng-click="cadCtrl.prepararPagamentoParticipante(participante)" 
									ng-show="participante.posicao === 1"></span></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>


<div class="col-md-6">
	<div class="panel panel-primary" ng-show="cadCtrl.exibirNovoSabor">
		<div class="panel-heading">
		    <h3 class="panel-title">Novo Sabor</h3>
	  	</div>
		<div class="panel-body">
			<ng-form name="novoSaborForm" role="form" >
				<div class="form-group" ng-class="{ 'has-error': novoSaborForm.descricao.$invalid}">
					<label class="control-label" for="descricao">Descrição</label>
				    <input type="text" class="form-control" id="nome" placeholder="Descrição"
				    	ng-model="cadCtrl.sabor.descricao" name="descricao" ng-required="true">
				</div>
				
				<button type="submit" class="btn btn-primary" 
					ng-click="cadCtrl.salvarNovoSabor(novoSaborForm.$valid, cadCtrl.sabor)">Salvar</button>
				<button class="btn btn-danger" ng-click="cadCtrl.cancelarNovoSabor()"
					formnovalidate >Cancelar</button>
			<ng-form>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
		    <h3 class="panel-title">Sabores</h3>
	  	</div>
		<div class="panel-body">

			<button class="btn btn-primary" ng-show="!cadCtrl.exibirNovoSabor"
				ng-click="cadCtrl.prepararNovoSabor()">Novo Sabor</button>

			<table class="table">
				<thead>
					<th>Descrição</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="sabor in cadCtrl.sabores | orderBy:'descricao'">
						<td>{{sabor.descricao}}</td>
						<td><span class="glyphicon glyphicon-trash" style="cursor:pointer;" 
									ng-click="cadCtrl.inativarSabor(sabor)" ></span></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>
<form>